#title1{
    color: purple;
    font-weight: bold;
}
#weather{
    color: red;
    font-weight: bold;
}
#location{
    font-weight: bold;
}
#title2{
    color: green;
    font-weight: bold;
}
#notice{
    color: blue;
    font-weight: bold;
}

