@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Moirai+One&display=swap');

h1 {
    text-align: center;
    font-family: "Moirai One", cursive;
}
p {
    text-align: center;
    font-family: 'Diphylleia', serif;
    
}